accelerate==1.7.0
datasets==3.6.0
httpx>=0.28.0
matplotlib>=3.9.0
numpy>=1.26.0
openai==1.70.0
packaging==25.0
pandas==2.3.1
pyarrow>=16.0.0
PyYAML==6.0.2
scipy>=1.13.0
seaborn>=0.13.0
setuptools==80.9.0
torch==2.6.0
tqdm==4.67.1
transformers==4.52.3
vllm==0.8.5.post1
